AppHeader {
    dock: top;
    text-style: bold;
    content-align: center middle;
    height: 3;
    width: 100%;
    background:  $surface-darken-1;
}

OptionLayout {
    height: 3;
}

Submit {
    dock: right;
    width: 15%;
    height: 3;
}

Submit:hover {
    background: green;
}

OptionsTree {
    width: 25%;
    background: $surface-darken-1;
    border: round $surface-lighten-2;
}


OptionsView {
    background: $surface-darken-1;
    width: 74.0%;
    border: round $surface-lighten-2;
}

Label {
    width: 23%;
    height: 3;
    content-align: right middle;
    margin: 0 1 0 0;
}

Input {
    width: 73%;
}
