MyHeader {
    content-align: center middle;
    height: 5;
    text-style: bold
}

.option {
    margin: 1;
    min-width: 80;
}

Label {
    margin: 1;
    width: 30
}

Input {
    height: 1;
    min-width: 50
}

Checkbox {
    min-width: 10
}

ListView {
    margin: 1;
    width: 30
}

Tree {
    width: 30;
    background: $background-lighten-1;
}